<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerF">

    <style>
        .linkBtn:hover{
            color: #1ABC9C;
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="max-height: 50px;">

        <div class="container">
            <div>
                <a class="navbar-brand" th:href="@{/}">LP.GG</a>
            </div>
            <div class="row-lo">
                <div class="linkBtn" style="margin-right: 25px;"><a class="nav-link rounded" th:href="@{/champion}">챔피언</a></div>
                <!--<div class="linkBtn" style="margin-right: 25px;"><a class="nav-link rounded" th:href="@{/statistics}">통계</a></div>-->
                <div class="linkBtn" style="margin-right: 25px;"><a class="nav-link rounded" th:href="@{/ranking}">랭킹</a></div>
                <div class="linkBtn"><a class="nav-link rounded" th:href="@{/community}">커뮤니티</a></div>
            </div>
            <div class="row-lo" style="">
                <div class="linkBtn" id="loginBtn" style="margin-right: 20px;">
                    <a class="nav-link rounded" th:href="@{/login}">Login</a>
                </div>
                <div class="linkBtn" id="logoutBtn" style="margin-right: 20px; display: none;">
                    <a class="nav-link rounded" th:href="@{/logout}">Logout</a>
                </div>
                <div class="linkBtn">
                    <a class="nav-link rounded" th:href="@{/about}">About</a>
                </div>
            </div>
        </div>


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </nav>

</div>
</html>