<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
  <style>
      table {
          margin: 50px;
          text-align: center;
          color: white;
          width: 50%;
          height: 80%;
          font-size: 35px;
          font-family: 'Gasoek One', sans-serif;
      }

      tr {
          height: 100px;
      }

      caption {
          caption-side: top;
          text-align: center;
          color: white;
          font-size: 45px
      }


  </style>


  <div class="main-box bg-dark">
      <main class="main-box2">
          <table>
              <caption class="cpt">도움을 주신 분들</caption>
              <tr>
                  <td><I>K . G</I></td>
                  <td><I>K . H . S</I></td>
                  <td><I>K . N . R</I></td>
              </tr>
              <tr>
                  <td><I>K . J . W</I></td>
                  <td><I>S . Y . H</I></td>
                  <td><I>L . D . H</I></td>
              </tr>
              <tr>
                  <td><I>L . S . H</I></td>
                  <td><I>L . J . H</I></td>
                  <td><I>H . G . W</I></td>
              </tr>
          </table>
      </main>


  </div>


</th:block>


</html>