<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
  <style>


  </style>


  <div class="main-box bg-dark">
    <div class="column-lo">
      <div class="column-lo">
        <div>검색창</div>
        <div>옵션창</div>
        <div>챔피언창</div>
      </div>
      <div>
        <div>챔피언 상세 정보
        </div>
      </div>
    </div>

  </div>


</th:block>


</html>