<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
  <style>

      :root {
          --toggle-degree: 135deg;
      }

      .arrow {
          position: relative;
          cursor: pointer;
      }
      .arrow::after {
          position: absolute;
          margin-top: auto;
          left: 0;
          top: 90%;
          content: '';
          width: 10px; /* 사이즈 */
          height: 10px; /* 사이즈 */
          border-top: 2px solid #000; /* 선 두께 */
          border-right: 2px solid #000; /* 선 두께 */
          border-color: inherit;
          transition: all 0.5s;
          transform: rotate(var(--toggle-degree));
      }

      .custom-input-box {
            background-color: #f5f5f5;
            border: none;
            border-radius: 13px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            width: 850px;
            height: 35px;
            padding: 10px;
            border: 3px solid #ccc;
            transition: border-color 0.3s;
            margin: 20px;
        }
      .input-field {
            flex: 1;
            padding: 8px;
            border: none;
            border-radius: 5px;
            background-color: #f5f5f5;
            outline: none;
            width: 100%;
            height: 95%;
            font-size: 15px;
        }
      .api-button {
            background-image: url('/assets/img/icon/icon-search.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: 25px auto;
            padding: 15px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
      .font-bold{
          font-weight: 700;
        }
      .us{
          align-items: center;
          justify-content: left;
          text-align: center;
          font-size: 13px;
        }
      .rankSelect {
          color: gray; /* Lighter color for unselected text */
          cursor: pointer; /* Change cursor to pointer on hover */
        }
      .rankSelect.selected {
          color: white; /* Darker color for selected text */
          font-weight: bold; /* Add bold style to selected text */
        }
      #profileIcon {
          width: 125px;
          height: 125px;
          margin: 5px;
        }
      #emblem{
          width: 125px;
          height: auto;
          margin: 5px;
          margin-right: 10px;
        }
      #summonerName{
          font-size: 35px;
          margin: 5px;
        }
      #summonerLevel{
          font-size: 25px;
          margin: 5px;
        }
      #rank, #tier{
          margin: 5px;
          font-size: 25px;
          justify-content: center;
        }
      #wins, #losses{
          margin: 5px;
          font-size: 20px;
          justify-content: center;
        }
      #rankOptions{
          margin: 6px;
        }
      .winBox{
            background: rgba(49, 142, 239, 0.1);
            border-left: 5px solid rgba(49, 142, 239, 0.6); /* Adjust the width as needed */
            border-radius: 4px;
            display: flex;
            position: relative;
            padding: 10px 18px 10px 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
      .lossBox {
            background: rgba(244, 88, 78, 0.1);
            border-left: 5px solid rgba(244, 88, 78, 0.6); /* Adjust the width as needed */
            border-radius: 4px;
            display: flex;
            position: relative;
            padding: 10px 18px 10px 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
      .champImgS{
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
      .custom-link {
            text-decoration: none; /* 밑줄 제거 */
            color: white; /* 링크 색상 설정 */
            cursor: pointer; /* 커서 스타일 변경 (선택 사항) */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
      .rune-img {
            width: 25px;
            height: 25px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 15px;
        }
      .ka-st{
            font-size: 18px;
        }
      .d-st{
            font-size: 18px;
            color: crimson;
        }
      .kda-st{
            font-size: 15px;
            color: gray;
        }
  </style>

  <div class="main-box bg-dark">
    <main class="main-box2">
        <div>
            <label class="custom-input-box">
                <input type="text" id="inputValue" class="input-field" placeholder="소환사 이름을 입력해주세요." onkeydown="handleEnterKey(event)" onclick="highlightInput()">
                <button onclick="callApi()" class="api-button" style=""></button>
            </label>
        </div>
      <div class="row-lo" style="display:flex; justify-content: space-between; width: 100%; margin-top: 20px">
          <div class="row-lo">
            <div id="profileIcon"></div>
            <div>
              <div class="font-bold" id="summonerName"></div>
              <div class="font-bold" id="summonerLevel"></div>
            </div>
          </div>
          <div class="row-lo">
              <div style="height: 100%;">
                <div class="row-lo" id="emblem"></div>
              </div>
              <div class="column-lo">
                <div class="row-lo us rankSelect" id="rankOptions">
                  <div class="us rankSelect" id="soloRank">솔로랭크</div>
                  <div>&nbsp;&nbsp;|&nbsp;&nbsp;</div>
                  <div class="us rankSelect" id="flexRank">자유랭크</div>
                </div>
                <div class="row-lo" style="min-width: 200px">
                  <div id="tier"></div>
                  <div id="rank"></div>
                </div>
                <div class="row-lo">
                  <div id="wins"></div>
                  <div id="losses"></div>
                </div>
              </div>
          </div>
      </div>
        <div style="width: 100%; display: flex; justify-content: flex-end;">
            <div id="match-history" style="width: 75%;"></div>
        </div>

    </main>


  </div>

  <script>

    // API 공통 URL 설정
    var apiUrl = "/api";
    // 링크 설정
    var ddragon = "http://ddragon.leagueoflegends.com/cdn/"
    // Version
    var version = "13.18.1";

    const jsonUrl = 'https://ddragon.leagueoflegends.com/cdn/'+version+'/data/ko_KR/runesReforged.json';

    //솔로, 자유 랭크 리스트
    const ranks = [
      { rank: ".", tier: ".", wins: 0, losses: 0 },
      { rank: ".", tier: ".", wins: 0, losses: 0 }
    ];
    //룬특 ID, Icon링크
    const iconData = [
        {'id': 8000, 'icon': 'perk-images/Styles/7201_Precision.png'},
        {'id': 8005, 'icon': 'perk-images/Styles/Precision/PressTheAttack/PressTheAttack.png'},
        {'id': 8008, 'icon': 'perk-images/Styles/Precision/LethalTempo/LethalTempoTemp.png'},
        {'id': 8009, 'icon': 'perk-images/Styles/Precision/PresenceOfMind/PresenceOfMind.png'},
        {'id': 8010, 'icon': 'perk-images/Styles/Precision/Conqueror/Conqueror.png'},
        {'id': 8014, 'icon': 'perk-images/Styles/Precision/CoupDeGrace/CoupDeGrace.png'},
        {'id': 8017, 'icon': 'perk-images/Styles/Precision/CutDown/CutDown.png'},
        {'id': 8021, 'icon': 'perk-images/Styles/Precision/FleetFootwork/FleetFootwork.png'},
        {'id': 8100, 'icon': 'perk-images/Styles/7200_Domination.png'},
        {'id': 8105, 'icon': 'perk-images/Styles/Domination/RelentlessHunter/RelentlessHunter.png'},
        {'id': 8106, 'icon': 'perk-images/Styles/Domination/UltimateHunter/UltimateHunter.png'},
        {'id': 8112, 'icon': 'perk-images/Styles/Domination/Electrocute/Electrocute.png'},
        {'id': 8120, 'icon': 'perk-images/Styles/Domination/GhostPoro/GhostPoro.png'},
        {'id': 8124, 'icon': 'perk-images/Styles/Domination/Predator/Predator.png'},
        {'id': 8126, 'icon': 'perk-images/Styles/Domination/CheapShot/CheapShot.png'},
        {'id': 8128, 'icon': 'perk-images/Styles/Domination/DarkHarvest/DarkHarvest.png'},
        {'id': 8134, 'icon': 'perk-images/Styles/Domination/IngeniousHunter/IngeniousHunter.png'},
        {'id': 8135, 'icon': 'perk-images/Styles/Domination/TreasureHunter/TreasureHunter.png'},
        {'id': 8136, 'icon': 'perk-images/Styles/Domination/ZombieWard/ZombieWard.png'},
        {'id': 8138, 'icon': 'perk-images/Styles/Domination/EyeballCollection/EyeballCollection.png'},
        {'id': 8139, 'icon': 'perk-images/Styles/Domination/TasteOfBlood/GreenTerror_TasteOfBlood.png'},
        {'id': 8143, 'icon': 'perk-images/Styles/Domination/SuddenImpact/SuddenImpact.png'},
        {'id': 8200, 'icon': 'perk-images/Styles/7202_Sorcery.png'},
        {'id': 8210, 'icon': 'perk-images/Styles/Sorcery/Transcendence/Transcendence.png'},
        {'id': 8214, 'icon': 'perk-images/Styles/Sorcery/SummonAery/SummonAery.png'},
        {'id': 8224, 'icon': 'perk-images/Styles/Sorcery/NullifyingOrb/Pokeshield.png'},
        {'id': 8226, 'icon': 'perk-images/Styles/Sorcery/ManaflowBand/ManaflowBand.png'},
        {'id': 8229, 'icon': 'perk-images/Styles/Sorcery/ArcaneComet/ArcaneComet.png'},
        {'id': 8230, 'icon': 'perk-images/Styles/Sorcery/PhaseRush/PhaseRush.png'},
        {'id': 8232, 'icon': 'perk-images/Styles/Sorcery/Waterwalking/Waterwalking.png'},
        {'id': 8233, 'icon': 'perk-images/Styles/Sorcery/AbsoluteFocus/AbsoluteFocus.png'},
        {'id': 8234, 'icon': 'perk-images/Styles/Sorcery/Celerity/CelerityTemp.png'},
        {'id': 8236, 'icon': 'perk-images/Styles/Sorcery/GatheringStorm/GatheringStorm.png'},
        {'id': 8237, 'icon': 'perk-images/Styles/Sorcery/Scorch/Scorch.png'},
        {'id': 8242, 'icon': 'perk-images/Styles/Sorcery/Unflinching/Unflinching.png'},
        {'id': 8275, 'icon': 'perk-images/Styles/Sorcery/NimbusCloak/6361.png'},
        {'id': 8299, 'icon': 'perk-images/Styles/Sorcery/LastStand/LastStand.png'},
        {'id': 8300, 'icon': 'perk-images/Styles/7203_Whimsy.png'},
        {'id': 8304, 'icon': 'perk-images/Styles/Inspiration/MagicalFootwear/MagicalFootwear.png'},
        {'id': 8306, 'icon': 'perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png'},
        {'id': 8313, 'icon': 'perk-images/Styles/Inspiration/PerfectTiming/PerfectTiming.png'},
        {'id': 8316, 'icon': 'perk-images/Styles/Inspiration/MinionDematerializer/MinionDematerializer.png'},
        {'id': 8321, 'icon': 'perk-images/Styles/Inspiration/FuturesMarket/FuturesMarket.png'},
        {'id': 8345, 'icon': 'perk-images/Styles/Inspiration/BiscuitDelivery/BiscuitDelivery.png'},
        {'id': 8347, 'icon': 'perk-images/Styles/Inspiration/CosmicInsight/CosmicInsight.png'},
        {'id': 8351, 'icon': 'perk-images/Styles/Inspiration/GlacialAugment/GlacialAugment.png'},
        {'id': 8352, 'icon': 'perk-images/Styles/Inspiration/TimeWarpTonic/TimeWarpTonic.png'},
        {'id': 8360, 'icon': 'perk-images/Styles/Inspiration/UnsealedSpellbook/UnsealedSpellbook.png'},
        {'id': 8369, 'icon': 'perk-images/Styles/Inspiration/FirstStrike/FirstStrike.png'},
        {'id': 8400, 'icon': 'perk-images/Styles/7204_Resolve.png'},
        {'id': 8401, 'icon': 'perk-images/Styles/Resolve/MirrorShell/MirrorShell.png'},
        {'id': 8410, 'icon': 'perk-images/Styles/Resolve/ApproachVelocity/ApproachVelocity.png'},
        {'id': 8429, 'icon': 'perk-images/Styles/Resolve/Conditioning/Conditioning.png'},
        {'id': 8437, 'icon': 'perk-images/Styles/Resolve/GraspOfTheUndying/GraspOfTheUndying.png'},
        {'id': 8439, 'icon': 'perk-images/Styles/Resolve/VeteranAftershock/VeteranAftershock.png'},
        {'id': 8444, 'icon': 'perk-images/Styles/Resolve/SecondWind/SecondWind.png'},
        {'id': 8446, 'icon': 'perk-images/Styles/Resolve/Demolish/Demolish.png'},
        {'id': 8451, 'icon': 'perk-images/Styles/Resolve/Overgrowth/Overgrowth.png'},
        {'id': 8453, 'icon': 'perk-images/Styles/Resolve/Revitalize/Revitalize.png'},
        {'id': 8463, 'icon': 'perk-images/Styles/Resolve/FontOfLife/FontOfLife.png'},
        {'id': 8465, 'icon': 'perk-images/Styles/Resolve/Guardian/Guardian.png'},
        {'id': 8473, 'icon': 'perk-images/Styles/Resolve/BonePlating/BonePlating.png'},
        {'id': 9101, 'icon': 'perk-images/Styles/Precision/Overheal.png'},
        {'id': 9103, 'icon': 'perk-images/Styles/Precision/LegendBloodline/LegendBloodline.png'},
        {'id': 9104, 'icon': 'perk-images/Styles/Precision/LegendAlacrity/LegendAlacrity.png'},
        {'id': 9105, 'icon': 'perk-images/Styles/Precision/LegendTenacity/LegendTenacity.png'},
        {'id': 9111, 'icon': 'perk-images/Styles/Precision/Triumph.png'},
        {'id': 9923, 'icon': 'perk-images/Styles/Domination/HailOfBlades/HailOfBlades.png'}
    ]

    // 응답 데이터를 화면에 출력
    const summonerNameElement = document.getElementById("summonerName");
    const profileIconElement = document.getElementById("profileIcon");
    const summonerLevelElement = document.getElementById("summonerLevel");
    const rankElement = document.getElementById("rank");
    const tierElement = document.getElementById("tier");
    const winsElement = document.getElementById("wins");
    const lossesElement = document.getElementById("losses");
    const emblemElement = document.getElementById("emblem")
    const rankOptions = document.getElementById("rankOptions");
    const soloRank = document.getElementById("soloRank");
    const flexRank = document.getElementById("flexRank");
    const matchHistoryContainer = document.getElementById('match-history');

    const matchData = [
        // 여기에 JSON 데이터 추가
    ];

    const userId = [];

    // 페이지가 로드되면 실행되는 함수
    document.addEventListener("DOMContentLoaded", function() {

      // 첫 번째 함수 실행, 소환사 기본 정보 생성
      function firstFunction() {
        // URL에서 summonerName 쿼리 파라미터 값을 가져옴
        var summonerNameParam = new URLSearchParams(window.location.search).get("summonerName");
        // summonerName 요소가 존재하는지 확인
        if (summonerNameParam) {
          var userApiUrl = apiUrl + "/user"; // URL 파라미터를 제외한 URL

          fetch(userApiUrl, {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ summonerName: summonerNameParam }) // 요청 데이터를 JSON 형식으로 전달
          })
                  .then(response => response.json())
                  .then(data => {

                    // API 응답을 처리하는 코드
                    console.log("API Response:", data);
                    userId.push(data.id);
                    summonerNameElement.textContent = data.summonerName;
                    profileIconElement.innerHTML = "<img src='http://ddragon.leagueoflegends.com/cdn/"+version+"/img/profileicon/" + data.profileIcon + ".png' alt='Profile Icon' style='width: 100%; height: 100%; object-fit: cover; border-radius: 10px;'>";
                    summonerLevelElement.textContent = data.summonerLevel;

                    ranks[0].rank = data.ranks[0].rank;
                    ranks[0].tier = data.ranks[0].tier;
                    ranks[0].wins = data.ranks[0].wins;
                    ranks[0].losses = data.ranks[0].losses

                    ranks[1].rank = data.ranks[1].rank;
                    ranks[1].tier = data.ranks[1].tier;
                    ranks[1].wins = data.ranks[1].wins;
                    ranks[1].losses = data.ranks[1].losses

                    emblemElement.innerHTML = "<img src=\"assets/img/emblem/"+ranks[0].tier+".png\" style='width: 100%; height: auto; object-fit: cover; border-radius: 10px;'>";
                    rankElement.textContent = data.ranks[0].rank;
                    tierElement.textContent = data.ranks[0].tier;
                    winsElement.textContent = data.ranks[0].wins+"승 ";
                    lossesElement.textContent = data.ranks[0].losses+"패";
                  })
                  .catch(error => {
                    console.error("API Error:", error);
                  });
        }
      }
      firstFunction();

      // 두 번째 함수 실행, 전적 리스트 생성
      function secondFunction() {
          // URL에서 summonerName 쿼리 파라미터 값을 가져옴
          var summonerNameParam = new URLSearchParams(window.location.search).get("summonerName");
          // summonerName 요소가 존재하는지 확인
          if (summonerNameParam) {
              var userApiUrl = apiUrl + "/match"; // URL 파라미터를 제외한 URL

              fetch(userApiUrl, {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({ summonerName: summonerNameParam }) // 요청 데이터를 JSON 형식으로 전달
              })
                  .then(response => response.json())
                  .then(md => {
                      matchData.push(...md);
                      console.log("API Response:", md);
                      generateMatchHistory();
                  })
                  .catch(error => {
                      console.error("API Error:", error);
                  });
          }
      }
      secondFunction();
    });

    soloRank.classList.add("selected");

    // Event listeners
    soloRank.addEventListener("click", () => {
      updateRankDisplay(ranks[0]);
      soloRank.classList.add("selected");
      flexRank.classList.remove("selected");
    });
    flexRank.addEventListener("click", () => {
      updateRankDisplay(ranks[1]);
      flexRank.classList.add("selected");
      soloRank.classList.remove("selected");
    });

    //솔로,자유랭크 생성
    function updateRankDisplay(rankData) {
      emblemElement.innerHTML = `<img src="assets/img/emblem/${rankData.tier}.png" style='width: 100%; height: auto; object-fit: cover; border-radius: 10px;'>`;
      rankElement.textContent = rankData.rank;
      tierElement.textContent = rankData.tier;
      winsElement.textContent = `${rankData.wins}승 `;
      lossesElement.textContent = `${rankData.losses}패`;
    }
    //전적 리스트 생성
    function generateMatchHistory() {
        // JSON 데이터를 기반으로 동적으로 레이아웃 생성
        matchData.forEach(match => {
            const matchElement = document.createElement('div');
            // gameCreation 값 변환 (에포크 시간 -> 날짜와 시간)
            const gameCreationDate = new Date(match.info.gameCreation);
            const month = gameCreationDate.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줍니다
            const day = gameCreationDate.getDate();
            const min = Math.floor(match.info.gameDuration / 60);
            const sec = match.info.gameDuration % 60;
            var summonerNameParam = new URLSearchParams(window.location.search).get("summonerName");

            const summonerSpells = {
                1: "SummonerBoost",
                3: "SummonerExhaust",
                4: "SummonerFlash",
                6: "SummonerHaste",
                7: "SummonerHeal",
                11: "SummonerSmite",
                12: "SummonerTeleport",
                13: "SummonerMana",
                14: "SummonerDot",
                21: "SummonerBarrier",
                32: "SummonerSnowURFSnowball_Mark",
                2201: "SummonerCherryHold",
                2202: "SummonerCherryFlash"
            };

            // 특정 닉네임의 win 값을 가져오기
            const targetParticipant = findParticipantBySummonerId(userId[0], match.info.participants);
            const targetWin = targetParticipant
                ? match.info.teams[targetParticipant.teamId === 100 ? 0 : 1].win ? '승리' : '패배'
                : null;

            const summoner1Id = targetParticipant.summoner1Id;
            const summoner1Name = summonerSpells[summoner1Id] || "Unknown Spell";

            const summoner2Id = targetParticipant.summoner2Id;
            const summoner2Name = summonerSpells[summoner2Id] || "Unknown Spell";

            matchElement.innerHTML = `
        <div id="B${match.metadata.matchId}" style="width: 100%;" class="${targetWin === '승리' ? 'winBox' : 'lossBox'}">
          <div class="row-lo" style="width: 100%; justify-content: space-between;">
              <div class="row-lo">
                <!--게임 정보-->
                <div class="column-lo" style="margin: 5px; margin-right: 15px; min-width: 70px;">
                  <div style="font-weight: bold">${match.info.gameMode}</div>
                  <div style="color: lightgray; font-size: 13px">${month}월 ${day}일</div>
                  <div style="margin-top: 20px; font-weight: bold; color: ${targetWin === '승리' ? 'skyblue' : 'orangered'}">${targetWin}</div>
                  <div style="color: lightgray; font-size: 13px;">${min}분 ${sec}초</div>
                </div>
                <div class="column-lo" style="margin-right: 15px; min-width:380px">
                  <div class="row-lo" style="min-width: 350px; display: flex; justify-content: space-between;">
                        <div class="row-lo" style="max-width: 220px;">
                            <!--챔피언 초상화/레벨 부분-->
                            <div class="row-lo" style="position: relative">
                                  <div style="position: absolute; right: 0; bottom: 0; z-index: 1;">
                                    <div style="display: inline-block; background-color: black; border-radius: 50%; padding: 5px; width: 25px; height: 25px; font-size: 13px; font-weight: bold;">${targetParticipant.champLevel}</div>
                                  </div>
                                  <img src='${ddragon}${version}/img/champion/${targetParticipant.championName}.png' style='width: 65px; height: 65px; overflow: hidden; border-radius: 50%;'>
                                </div>
                            <div class="row-lo" style="margin: 5px;">
                              <!--스펠 부분-->
                              <div class="column-lo" style="margin: 5px; max-width: 30px">
                                <div><img src='${ddragon}${version}/img/spell/${summoner1Name}.png' style='width: 25px; height: 25px; overflow: hidden; border-radius: 50%;'></div>
                                <div><img src='${ddragon}${version}/img/spell/${summoner2Name}.png' style='width: 25px; height: 25px; overflow: hidden; border-radius: 50%;'></div>
                              </div>
                              <!--룬 부분-->
                              <div class="column-lo" style="margin: 5px; max-width: 30px">
                                ${generateRuneInfo(match.info.gameMode,targetParticipant)}
                              </div>
                              <!--KDA 부분-->
                              <div class="column-lo" style="min-width: 80px">
                                <div class="row-lo">
                                  <div class="ka-st">${targetParticipant.kills}&nbsp;/&nbsp;</div>
                                  <div class="d-st">${targetParticipant.deaths}</div>
                                  <div class="ka-st">&nbsp;/&nbsp;${targetParticipant.assists}</div>
                                </div>
                                <div class="row-lo">
                                  <div class="kda-st">${((targetParticipant.kills + targetParticipant.assists) / Math.max(targetParticipant.deaths, 1)).toFixed(2)}&nbsp;평점</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="row-lo">
                             ${generateLine(targetParticipant)}
                            <!--기타 정보 와드/시야점수/cs-->
                            <div class="column-lo" style="min-width: 90px">
                              <div>제어와드 : ${targetParticipant.visionWardsBoughtInGame}</div>
                              <div>시야점수 : ${targetParticipant.visionScore}</div>
                              <div>cs ${targetParticipant.totalMinionsKilled} (${(targetParticipant.totalMinionsKilled / min).toFixed(1)})</div>
                            </div>
                        </div>
                  </div>
                  <!--아이템 부분-->
                  <div class="row-lo" style="margin: 5px; margin-top: 15px; width: 100%; min-width: 350px">
                    <div class="row-lo" style="max-width: 220px;">${generateItemInfo(targetParticipant)}</div>
                    <div>${generateSlayer(targetParticipant)}</div>
                  </div>
                </div>

              </div>
              <!--플레이어 정보-->
              <div class="row-lo">
                <div class="row-lo" style="justify-content: space-between; min-width:180px;">
                    <div class="column-lo" style="margin: 5px; font-size: 12px; max-width: 83px;">
                        ${generatePlayerInfo1(match)}
                    </div>
                    <div class="column-lo" style="margin: 5px; font-size: 12px; max-width: 83px;">
                        ${generatePlayerInfo2(match)}
                    </div>
                </div>

                </div>

          </div>
          ${generateArrow(targetParticipant,match)}
        </div>
      `;
            matchHistoryContainer.appendChild(matchElement);
        });
    }
    // participants 배열 내에서 특정 아이디을 찾아 해당 객체를 반환하는 함수
    function findParticipantBySummonerId(summonerId, participants) {
        return participants.find(participant => participant.summonerId === summonerId);
    }
    //블루팀 플레이어 리스트 생성
    function generatePlayerInfo1(match) {
        const playerInfoHtml = [];
        const maxPlayers = match.info.gameMode === "아레나" ? 4 : 5;

        // 플레이어 정보를 생성하고 배열에 추가 (인덱스 0부터 maxPlayers-1까지)
        for (let i = 0; i < maxPlayers; i++) {
            const participant = match.info.participants[i];
            let participantChampionName = participant.championName;
            const participantSummonerName = participant.summonerName;

            if (participantChampionName == "FiddleSticks"){
                participantChampionName = "Fiddlesticks"
            }

            // 특정 닉네임과 같은 플레이어 정보인 경우에만 추가
            playerInfoHtml.push(`
            <div class="row-lo">
                <img src='${ddragon}${version}/img/champion/${participantChampionName}.png' class="champImgS">
                <a class="custom-link" href="/info?summonerName=${participantSummonerName}">
                    ${participantSummonerName}
                </a>
            </div>
        `);

            // i가 1이고 아레나 모드인 경우 1개 크기의 빈 공간 추가
            if (i === 1 && match.info.gameMode === "아레나") {
                playerInfoHtml.push('<div style="width: 30px; height: 30px;"></div>');
            }
        }

        // 배열에 있는 플레이어 정보를 문자열로 변환하여 반환
        return playerInfoHtml.join('');
    }
    //레드팀 플레이어 리스트 생성
    function generatePlayerInfo2(match) {
        const playerInfoHtml = [];
        const startIndex = match.info.gameMode === "아레나" ? 4 : 5;
        const maxPlayers = match.info.gameMode === "아레나" ? 8 : 10;

        // 플레이어 정보를 생성하고 배열에 추가 (인덱스 0부터 maxPlayers-1까지)
        for (let i = startIndex; i < maxPlayers; i++) {
            const participant = match.info.participants[i];
            let participantChampionName = participant.championName;
            const participantSummonerName = participant.summonerName;

            if (participantChampionName == "FiddleSticks"){
                participantChampionName = "Fiddlesticks"
            }

            // 특정 닉네임과 같은 플레이어 정보인 경우에만 추가
            playerInfoHtml.push(`
            <div class="row-lo">
                <img src='${ddragon}${version}/img/champion/${participantChampionName}.png' class="champImgS">
                <a class="custom-link" href="/info?summonerName=${participantSummonerName}">
                    ${participantSummonerName}
                </a>
            </div>
        `);

            // i가 1이고 아레나 모드인 경우 1개 크기의 빈 공간 추가
            if (i === 5 && match.info.gameMode === "아레나") {
                playerInfoHtml.push('<div style="width: 30px; height: 30px;"></div>');
            }
        }

        // 배열에 있는 플레이어 정보를 문자열로 변환하여 반환
        return playerInfoHtml.join('');
    }
    //플레이어 킬 리스트 생성
    function generateSlayer(targetParticipant) {
        const playerSlayer = [];

        const slayerList = [];
        slayerList.push(targetParticipant.pentaKills)
        slayerList.push(targetParticipant.quadraKills)
        slayerList.push(targetParticipant.tripleKills)
        slayerList.push(targetParticipant.doubleKills)
        const slayerList2 = ["펜타킬", "쿼드라킬", "트리플킬", "더블킬"];

        for (let i = 0; i < 4; i++) {
            if (slayerList[i] > 0){
                playerSlayer.push(`
                    <div style="height: 25px; background-color: #b02a37; border-radius: 15px; text-align: center; margin-left: 20px;">
                        &nbsp;&nbsp;${slayerList2[i]}&nbsp;&nbsp;
                    </div>
                `);
                break
            }
        }


        // 배열에 있는 플레이어 정보를 문자열로 변환하여 반환
        return playerSlayer.join('');
    }
    //플레이어 아이템 리스트 생성
    function generateItemInfo(targetParticipant) {
        const itemInfoHtml = [];

        // 아이템 정보를 생성하고 배열에 추가
        for (let i = 0; i < 7; i++) {
            const itemImageId = targetParticipant[`item${i}`];

            // 아이템 ID가 0인 경우에는 빈 칸으로 처리
            if (itemImageId !== 0) {
                const itemImageSrc = `${ddragon}${version}/img/item/${itemImageId}.png`;
                itemInfoHtml.push(`
                <img src='${itemImageSrc}' style='width: 30px; height: 30px; overflow: hidden; border-radius: 50%;'>
            `);
            } else {
                // 아이템 ID가 0인 경우, 빈 칸 추가
                const backgroundColor = targetParticipant.win ? 'rgba(49, 142, 239, 0.2)' : 'rgba(244, 88, 78, 0.2)';
                itemInfoHtml.push(`
                <div style='width: 30px; height: 30px; border-radius: 50%; background:${backgroundColor};'></div>
            `);
            }
        }

        // 배열에 있는 아이템 정보를 문자열로 변환하여 반환
        return itemInfoHtml.join('');
    }
    //플레이어 룬 정보 리스트 생성
    function generateRuneInfo(gameMode, targetParticipant) {
        const runeInfoHtml = [];


            if (gameMode != "아레나") {
                runeInfoHtml.push(`
                <div><img src='${getIconUrl(targetParticipant.perks.styles[0].selections[0].perk)}' style="width: 25px; height: 25px; overflow: hidden; border-radius: 50%; margin-right: 15px;"></div>
                <div><img src='${getIconUrl(targetParticipant.perks.styles[1].style)}' style="width: 25px; height: 25px; overflow: hidden; border-radius: 50%; margin-right: 15px;"></div>
            `);
            } else {
                // 아이템 ID가 0인 경우, 빈 칸 추가
                const backgroundColor = targetParticipant.win ? 'rgba(49, 142, 239, 0.2)' : 'rgba(244, 88, 78, 0.2)';
                runeInfoHtml.push(`
                <div style='width: 25px; height: 25px; border-radius: 50%; background:${backgroundColor}; margin-right: 15px;'></div>
                <div style='width: 25px; height: 25px; border-radius: 50%; background:${backgroundColor}; margin-right: 15px;'></div>
            `);
            }


        // 배열에 있는 아이템 정보를 문자열로 변환하여 반환
        return runeInfoHtml.join('');
    }
    //격자 생성
    function generateLine(targetParticipant) {
        const lineHtml = [];

            // 아이템 ID가 0인 경우, 빈 칸 추가
            const backgroundColor = targetParticipant.win ? 'rgba(49, 142, 239, 0.2)' : 'rgba(244, 88, 78, 0.2)';
        lineHtml.push(`
                <div style='width: 1px; height: 75px; background:${backgroundColor}; margin-right: 10px;'></div>
            `);

        // 배열에 있는 아이템 정보를 문자열로 변환하여 반환
        return lineHtml.join('');
    }
    //추가정보 버튼 생성
    function generateArrow(targetParticipant,match) {
        const arrow = [];
        const backgroundColor = targetParticipant.win ? 'rgba(49, 142, 239, 0.6)' : 'rgba(244, 88, 78, 0.6)';

        arrow.push(`
            <div style="display: flex; margin-left: 10px;") id = "${match.metadata.matchId}" onclick="generateDetail('${match.metadata.matchId}','${match.metadata.matchId}')">
                <div class="arrow" style="border-color:${backgroundColor};" ></div>
            </div>
        `);

        // 배열에 있는 플레이어 정보를 문자열로 변환하여 반환
        return arrow.join('');
    }
    //추가정보 생성
    function generateDetail(arrowId, matchId) {
        const result = document.getElementById(arrowId);
        const deg = window.getComputedStyle(result,'::after').getPropertyValue('--toggle-degree');

        const parentDetail = document.getElementById('B'+matchId);

        let detail = document.getElementById('D'+matchId);

        if (deg == '135deg'){
            document.getElementById(arrowId).style.setProperty('--toggle-degree', '315deg');

            if (!detail){
                    detail = document.createElement('div');
                    detail.setAttribute('id', 'D'+matchId)
                    detail.innerHTML = `
                <div class="row-lo">
                    <div>dddd</div>
                    <div>dddd</div>
                    <div>dddd</div>
                    <div>dddd</div>
                    <div>dddd</div>
                </div>
              `;
                parentDetail.after(detail);
            }else {
                detail.style.display = 'block';
            }

        }
        else{
            document.getElementById(arrowId).style.setProperty('--toggle-degree', '135deg');
            detail.style.display = 'none'; // 예시: display 속성을 사용하여 감추기
        }
    }



    // 기존 배열에서 id를 키로 사용하여 객체로 변환
    const iconDataIndexed = {};
    iconData.forEach(icon => {
        iconDataIndexed[icon.id] = icon.icon;
    });

    // id에 해당하는 아이콘 URL 생성
    function getIconUrl(id) {
        const icon = iconDataIndexed[id];
        if (icon) {
            return `https://ddragon.leagueoflegends.com/cdn/img/${icon}`;
        } else {
            return '아이콘을 찾을 수 없습니다.';
        }
    }
    //소환사 검색 함수
    function highlightInput() {
        const inputLabel = document.querySelector('.custom-input-box');
        inputLabel.style.borderColor = '#007bff';
    }
    function handleEnterKey(event) {
        if (event.key === 'Enter') {
            callApi();
        }
    }
    document.addEventListener('click', function(event) {
        const inputLabel = document.querySelector('.custom-input-box');
        if (!inputLabel.contains(event.target)) {
            inputLabel.style.borderColor = '#ccc';
        }
    });
    function callApi() {
        const inputValue = document.getElementById('inputValue').value;

        if (inputValue) {
            // 입력값을 컨트롤러로 전달하고 페이지 이동
            window.location.href = `/info?summonerName=${encodeURIComponent(inputValue)}`;
        }
    }
  </script>

</th:block>



</html>